<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.sum.demo">
    <application>
        <activity
                android:name=".jetpack.navigation.DemoNavigationActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".jetpack.navigation.MineNavActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>