<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
                android:name=".navigation.DemoNavigationActivity"
                android:theme="@style/Theme.BaseTheme" />
        <activity
                android:name=".navigation.NavActivity"
                android:theme="@style/Theme.BaseTheme" />
        <activity
                android:name=".lifecycle.DemoLifecycleActivity"
                android:theme="@style/Theme.BaseTheme" />
        <activity
                android:name=".viewmodel.DemoViewModelActivity"
                android:theme="@style/Theme.BaseTheme" />
        <activity
                android:name=".livedata.DemoLiveDataActivity"
                android:theme="@style/Theme.BaseTheme" />
        <activity
                android:name=".viewbinding.ViewBindingActivity"
                android:theme="@style/Theme.BaseTheme" />
        <activity
                android:name=".viewbinding.DataBindingActivity"
                android:theme="@style/Theme.BaseTheme" />
    </application>

</manifest>