<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.sum.login">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--检查网络权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--allowBackup:应用数据是否能能够被备份或恢复-->
    <application
            android:allowBackup="false"
            android:supportsRtl="true"
            android:name="com.sum.common.SumApplication"
            android:theme="@style/AppTheme"
            android:label="login"
            tools:targetApi="31">
        <activity
                android:name=".login.LoginActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".register.RegisterActivity"
                android:exported="true">
        </activity>
    </application>

</manifest>